<div class="product -menu">
    <div class="info">
        <div class="img">
            <img src="http://blog.ac-versailles.fr/lebonjournal/public/.hamburger_m.jpg" alt="name">
        </div>
    </div>
    <div class="content">
        <h5 class="title">Hamburger Frite</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="list">
            <div class="menu-item">
                <div class="img">
                    <img src="http://blog.ac-versailles.fr/lebonjournal/public/.hamburger_m.jpg" alt="name">
                </div>
                <h6>Hamburger</h6>
            </div>
            <div class="menu-item">
                <div class="img">
                    <img src="http://blog.ac-versailles.fr/lebonjournal/public/.hamburger_m.jpg" alt="name">
                </div>
                <h6>Frite</h6>
            </div>
            <div class="menu-item">
                <div class="img">
                    <img src="http://blog.ac-versailles.fr/lebonjournal/public/.hamburger_m.jpg" alt="name">
                </div>
                <h6>Glace</h6>
            </div>
        </div>
        <%= cell(:product, "test", presentation: options[:presentation]).(:price) %>
    </div>
</div>
