<div class="product">
    <div class="info">
        <div class="img">
            <img src="<%= model.img_url %>" alt="name">
        </div>
        <div class="content">
            <h5 class="title"><%= model.name %></h5>
            <p><%= model.description %></p>
        </div>
    </div>
    <%= cell(:product, model, id_template: options[:id_template], presentation: options[:presentation]).(:price) %>
</div>
