<div class="product">
    <div class="info">
        <div class="img">
            <img src="http://blog.ac-versailles.fr/lebonjournal/public/.hamburger_m.jpg" alt="name">
        </div>
        <div class="content">
            <h5 class="title">Hamburger Frite</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
    <div class="add">
        <span class="price">10.39€</span>
        <a class="btn -alt" href="#">Ajouter <%= fa_icon "plus" %></a>
    </div>
</div>
