<div class="product -tiny">
    <div class="info">
        <div class="img">
            <img src="http://blog.ac-versailles.fr/lebonjournal/public/.hamburger_m.jpg" alt="name">
        </div>
        <h5 class="title">Hamburger Frite</h5>
    </div>
    <div class="add">
        <span class="price">10.39€</span>
        <a class="btn -alt" href="#">Ajouter <%= fa_icon "plus" %></a>
    </div>
</div>
