<div class="product -tiny">
    <div class="info">
        <div class="img">
            <img src="<%= model.img_url %>" alt="name">
        </div>
        <h5 class="title"><%= model.name %></h5>
        <p><%= model.description %></p>
    </div>
    <%= cell(:product, "test", presentation: options[:presentation]).(:price) %>
</div>
