<div class="product -tiny">
    <div class="info">
        <div class="img">
            <img src="http://blog.ac-versailles.fr/lebonjournal/public/.hamburger_m.jpg" alt="name">
        </div>
        <h5 class="title">Hamburger Frite</h5>
    </div>
</div>
