$img-width: 6em;

.cart-product {
    @extend %clearfix;

    border-bottom: 1px solid $gray0;

    &.wine {
        background: rgba($wine, .05);

        .title {
            color: $wine;
        }
    }

    .image {
        float: left;
        width: $img-width;
        padding: 0.5em;
        display: table;

        .img {
            max-width: $img-width;
            float: left;
            width: 100%;
        }

        .icon {
            float: left;
            background-size: 100%;
            width: 100%;
            position: relative;
            top: .3em;

            &.poultry {
                background-position: center top;
                top: -.1em;
                background-size: 75%;
            }
        }

        .fa {
            width: 100%;
            text-align: center;
            padding: 1.2em 0;
            background: rgba($wine, .25);
        }
    }

    .content {
        padding: .5em .5em;
        float: left;
        width: calc(100% - #{$img-width});
    }

    .item {
        @extend %clearfix;
    }

    .details .item {
        padding: .5em 0;
    }

    h6 {
        font-size: 75%;
        opacity: .37;
        letter-spacing: .125em;
        text-transform: uppercase;
    }

    p {
        clear: both;
        display: block;
    }
}
