$img-width: 6em;

.cart-product {
    @extend %clearfix;

    border-bottom: 1px solid $gray0;

    .image {
        float: left;
        width: $img-width;
        padding: 0.5em;
        display: table;

        .img {
            max-width: $img-width;
            float: left;
        }

        .icon {
            float: left;
            background-size: 100%;
            width: 100%;
            position: relative;
            top: .5em;
        }
    }

    .content {
        padding: .5em .5em;
        float: left;
        width: calc(100% - $img-width});
    }

    .item {
        @extend %clearfix;
    }

    .details .item {
        padding: .5em 0;
    }

    h6 {
        font-size: 75%;
        opacity: .37;
        letter-spacing: .125em;
        text-transform: uppercase;
    }

    p {
        clear: both;
        display: block;
    }
}
