@media only screen and (max-width: $xsmall) {
    #fb-page {
        .fb-page {
            display: block;
            margin: auto;
            float: none;
        }


        .fb-content {
            padding-right: 0 !important;
            width: 100%;
        }
    }
}

@media only screen and (max-width: $small) {
    #fb-page .fb-content {
        padding-right: 0;
    }
}
