.formula-container {
    background: $white;
    box-shadow: 0 1em 2em rgba(50, 50, 93, 0.1), 0 0.3em 1em rgba(0, 0, 0, 0.07), 0 0 0.1em 0.1em rgba(0, 0, 0, 0.05);
    width: calc(33.333% - 1em);
    margin: .5em;
    border-radius: 0.25em;
    float: left;

    .formula {
        border: 1px solid $gray1;
        padding: 2em 1em 1em;

        &.-wine {
            background: rgba($wine, .03);
            border-color: rgba($wine, .5);
            color: $wine;

            .title {
                color: $wine;
            }

            p {
                min-height: 2.1em;
            }
        }

        p {
            min-height: 4.2em;
            display: block;
        }

        &:first-child {
            border-radius: 0.25em 0.25em 0 0;
            border-bottom: none;
        }

        &:last-child {
            border-radius: 0 0 0.25em 0.25em;
        }
    }

    .price {
        display: inline-block;
        padding: .3em .4em;
        border-radius: .25em;
        border: 1px solid $cyan;
        margin: .5em;
        text-align: left;
    }
}
