.img {
    border-radius: 0.25em;
    display: inline-block;
    overflow: hidden;
    position: relative;

    img {
        // Fix flicker by isolation with GPU rendering
        -webkit-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        position: relative;
        top: -25%;
    }
}
