@media only screen and (max-width: $small) {
    #main-menu {
        box-shadow: none;
        height: auto;
        transition: height 170ms ease-out;
        z-index: 1;

        .row {
            background: $white;
        }

        .toggle {
            display: inline-block;
        }

        .menu #logo {
            img {
                margin-right: 1em
            }
        }

        #submenu {
            background: $white;
            border-top: 2px solid $gray1;
            box-shadow: 0 -6em 1em 6em rgba($black, .3);
            left: 0;
            max-height: calc(100vh - 100%);
            overflow: hidden;
            overflow-y: auto;
            padding: 1em 4em 0;
            position: absolute;
            top: calc(-100vh - 100%);
            transition: top 250ms ease-in-out;
            width: 100%;
            z-index: -1;

            // Test speed increase
            -webkit-transform-style: preserve-3d;
            -webkit-backface-visibility: hidden;

            a {
                display: block;
                float: none;
                border-radius: .25em;
                clear: both;
            }

            a.current {
                background: $gray0;
                box-shadow: none;
            }
        }

        #lang-switcher {
            text-align: center;
            width: 100%;

            a {
                display: inline-block;
            }
        }

        .switch:checked ~ #submenu  {
            box-shadow: 0 -6em 1em 6em rgba($black, .3), 0 0 0 200vh rgba($black, .5);
            top: 100%;
        }
    }
}
