#main-menu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;

    // Fix flicker by isolation with GPU rendering
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: -10%;
        width: 120%;
        background: $white;
        box-shadow: 0 3em 6em rgba(50,50,93,.1), 0 1em 2em rgba(50,50,93,.15), 0 0.3em 1em rgba(0,0,0,.1);
        height: 4em;
        z-index: -1;
    }

    .row {
        display: flex;
        height: 4em;
        padding: 0;
    }

    .menu {
        flex: 1 1 auto;

        #logo {
            width: 4em;
            height: 4em;
            padding: 0;
            overflow: hidden;

            img {
                width: 3em;
                margin: 0.5em;
            }
        }
    }

    .menu a, label {
        float: left;
        line-height: 4em;
        min-width: 4em;
        padding: 0 0.8em;
        color: $text;
        text-transform: uppercase;
    }

    .toggle {
        display: none;
        float: left;
        text-align: center;
    }

    .action {
        flex: 0 0 auto;
        line-height: 4em;

        .btn {
            border: none;
            margin: 0 1em;
        }
    }

    a {
        display: inline-block;
    }

    .switch:checked ~ .toggle .fa::before {
        content: "\f060"; // change "bars" to "arrow-left"
    }

    #lang-switcher {
        .active svg {
            background: $gray0;
            border-radius: 4px;
            box-shadow: 0 0 0 4px $gray0;
        }
    }

    svg {
        width: 2em;
        height: 1.5em;
        position: relative;
        top: 0.4em;
    }
}
