@media only screen and (max-width: $small) {
    #main-menu {
        box-shadow: none;
        height: auto;
        transition: height 170ms ease-out;
        z-index: 1;

        .row {
            background: $white;
        }

        .toggle {
            display: inline-block;
        }

        .menu #logo {
            img {
                margin-right: 1em
            }
        }

        #submenu {
            --main-menu-links-number: 6;
            --main-menu-decal: calc(var(--main-menu-links-number) * -100%) ;
            background: $white;
            box-shadow: 0 -6em 1em 6em rgba($black, .3);
            position: absolute;
            padding: 0 4em;
            top: -600%;
            top: var(--main-menu-decal);
            left: 0;
            transition: top 250ms ease-in-out;
            width: 100%;
            z-index: -1;

            // Test speed increase
            -webkit-transform-style: preserve-3d;
            -webkit-backface-visibility: hidden;

            a {
                display: block;
                float: none;
                border-radius: .25em;
            }

            a.current {
                background: $gray0;
                box-shadow: none;
            }
        }

        #lang-switcher {
            text-align: center;
            width: 100%;

            a {
                display: inline-block;
            }
        }

        .switch:checked ~ #submenu  {
            box-shadow: 0 -6em 1em 6em rgba($black, .3), 0 0 0 100vh rgba($black, .5);
            top: 100%;
        }
    }
}
