@media only screen and (max-width: $small) {
    #main-menu {
        box-shadow: 0;
        z-index: 1;

        ul {
            background: $white;
            box-shadow: 0 -6em 6em 6em rgba($black, .3);
            left: 0;
            padding-left: 4em;
            position: absolute;
            top: -100%;
            transition: top 170ms ease-out;
            width: 100%;
            z-index: -1;

            a {
                display: block;
            }
        }

        a {
            width: calc(100% - 4em);
            background: $white;
        }

        a:hover, label:hover {
            color: $text;
            background: $white;
        }

        .active {
            box-shadow: inset 0.125em 0 $accent1;
        }

        .toggle {
            display: inline-block;
        }

        .switch:checked + ul {
            top: 100%;
        }
    }
}
