#main-menu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;

    // Fix flicker by isolation with GPU rendering
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;

    &::before {
        content: "";
        background: $white;
        box-shadow: 0 .5em 1em rgba(50,50,93,.07), 0 .5em 1em rgba(50,50,93,.07), 0 0.3em 1em rgba(0,0,0,.05);
        display: block;
        height: 4em;
        left: -10%;
        position: absolute;
        top: 0;
        width: 120%;
        z-index: -1;
    }

    .row {
        display: flex;
        height: 4em;
        padding: 0;
        position: relative;
    }

    .menu {
        flex: 1 1 auto;

        #logo {
            height: 4em;
            overflow: hidden;
            padding: 0;
            width: 4em;

            img {
                height: 4em;
            }
        }
    }

    .menu a, .menu label {
        color: $text;
        float: left;
        font-weight: bold;
        line-height: 4em;
        min-width: 4em;
        padding: 0 .8em;
        text-transform: uppercase;
    }

    .menu .title {
        color: $text;
        display: inline-block;
        float: left;
        font-size: 1em;
        font-weight: normal;
        line-height: 4em;
        margin: 0;
        padding: 0 .8em;
    }

    #submenu a.current {
        box-shadow: inset 0 -0.2em 0 $accent2;
    }

    .toggle {
        display: none;
        float: left;
        text-align: center;
    }

    .action {
        flex: 0 0 auto;
        line-height: 4em;

        .btn {
            border: none;
            margin: 0 1em;
        }
    }

    a {
        display: inline-block;
    }

    .switch:checked ~ .toggle .fa::before {
        content: "\f00d"; // change "bars" icon  to "close" icon
    }

    #lang-switcher {
        float: right;
        a {
            text-align: center;
        }

        .active svg {
            background: $gray0;
            border-radius: 4px;
            box-shadow: 0 0 0 4px $gray0;
        }
    }

    svg {
        height: 1.5em;
        position: relative;
        top: 0.4em;
        width: 2em;
    }
}
