@media only screen and (max-width: $small) {
    .product {
        margin: 1em;
        width: calc(100% - 2em);

        .info .img {
            max-width: none;
            width: 100%;
        }

        .content, &.-menu .content {
            width: 100%;
        }

        &.-tiny {
            margin: 1em;
            width: calc(50% - 2em);
        }
    }
}
