.text {
    p {
        margin-bottom: 1.2em;
    }

    .img {
        box-shadow: 0 1em 2em rgba($shadow, .1), 0 0.3em 1em rgba($black, .07);
        margin-bottom: 2em;
    }

    &.-tiny {
        font-size: 87.5%;
    }
}
