.zone {
    @extend %clearfix;
    background: $true-white;
    border-radius: .25em;
    box-shadow: 0 1em 2em rgba($shadow, .1), 0 0.3em 1em rgba($black, .07), 0 0 0.1em 0.1em rgba($black, .05);
    margin-bottom: 2em;
    overflow: hidden;
    position: relative;

    p {
        margin-bottom: 1em;
    }

    .buttons {
        margin-top: 0.5em;
        float: left;
    }

    header {
        background: rgba($gray0, .5);
        border-bottom: 1px solid $gray0;
        padding: 1em;

        .title {
            margin: 0;
        }
    }

    .content {
        padding: 1em;
    }

    &.-background {
        background-position: center;
        background-size: cover;
        color: $white;

        .title {
            color: $white;
        }

        .container {
            padding: 2em !important;
            position: relative;
            z-index: 1;

            &::before {
                background: rgba($accent1, .76);
                content: "";
                display: block;
                height: 200%;
                left: -10%;
                position: absolute;
                top: -50%;
                transform: rotate(12deg);
                width: 120%;
                z-index: -1;
            }
        }
    }
}
