#home {
    padding-top: 12em;
}

#home::after {

    background-image: url("http://www.ewedu.net/data/out/28/841270350-cafe-wallpapers.jpg");
    background-size: cover;
    background-position: center;
}
