<div class="image">
    <div class="img">
        <%= image_tag model.img_url %>
    </div>
    <h6 class="subtle align -center">Dessert</h6>
</div>
<div class="content">
    <h5 class="title -compact"><%= model.name %></h5>
    <p><%= model.description %></p>
</div>
