<div class="cart-product dish">
    <div class="img">
        <img src="https://ih1.redbubble.net/image.343720960.4451/flat,800x800,075,f.u1.jpg">
    </div>
    <h6><%= model.name %></h6>
    <div class="cooking">

    </div>
    <div class="roasting">

    </div>
    <div class="garniture">

    </div>
    <div class="marinade">

    </div>
</div>
