<label for="display-cart" class="cart-display">
    <%= fa_icon "shopping-bag" %> Panier <span class="count"><%= model.formulas.count %></span>
</label>
<input id="display-cart" type="checkbox" class="switch">
<div class="cart-container">
    <%= cell(:cart, model) %>
</div>
