<div class="cart">
    <div class="col-12  align -center">
        <h5 class="subtitle">Aucun éléments dans votre commande pour l'instant</h5>

        <%= link_to add_menu_to_order_path(), class: "btn-subtle" do %>
            Ajouter un plat
        <% end %>
        <%= link_to orders_path() + "#course", class: "btn-subtle" do %>
            Ajouter une formule
        <% end %>
    </div>
</div>
