<div class="cart">
    <div class="formula">
        <div class="cart-product">
            <div class="content align -center" style="width: 100%">
                <h5 class="subtitle">Aucun éléments dans votre commande pour l'instant</h5>
                <!--<a class="btn align -center" href="<%= add_menu_to_order_path %>">Créer mon plat <%= fa_icon "plus" %></a>-->
            </div>
        </div>
    </div>
</div>
