<div class="cart">
    <% @order.formulas.each do |f| %>
        <div class="formula">
            <% f.get_products.each do |k, v| %>
                <%= cell(:cart, v, formula: f).(k) %>
            <% end %>
            <div class="price">
                <%= 10.32 %>€
            </div>
        </div>
    <% end %>
</div>
