<div class="image">
    <div class="img">
        <img src="http://hitek.fr/img/actualite/2017/09/26/it-anime-sewer-scene-concept-art-by-mike-anderson-1022961.jpg?unsync">
    </div>
    <h6 class="subtle align -center">Entrée</h6>
</div>
<div class="content">
    <h5 class="title -compact"><%= model.name %></h5>
    <p><%= model.description %></p>
</div>
