<div class="image">
    <div class="img">
        <%= fa_icon "glass" %>
    </div>
    <h6 class="subtle align -center"><%= I18n.t("admin.wine") %></h6>
</div>
<div class="content">
    <h5 class="title -compact"><%= model %></h5>
    <p>Nous vous conseillerons des vins adaptés à votre menu</p>
</div>
