
// Website accent
// ====================================================================
$cyan: #24b4a2;
.cyan { color: $cyan; }

$blue: #59aef2;
.blue { color: $blue; }

$pink: #eb1f4f;
.pink { color: $pink; }

$green: #1c8a45;
.green { color: $green; }

$yellow: #FDD760;
.yellow { color: $yellow; }

$orange: #FFA452;
.orange { color: $orange; }

$purple: #6340f3;
.purple { color: $purple; }

$red: #9e1d3e;
.red { color: $red; }

$metal: #c4be9c;
.metal { color: $metal}
// Gray palette
// ====================================================================
$true-white: #FFF;
$white: #FBFBFE;
$gray0: #F0F0F5;
$gray1: #BFBFD0;
$gray2: #898992;
$gray3: #63636B;
$gray4: #4B4B53;
$gray5: #33333B;
$gray6: #1B1B20;
$black: #000;

$accent1: $red;
$accent2: $pink;
$text: #525285;
$text2: $gray1;

// Social Colors
// ====================================================================
$facebook_color           : hsla(222, 47%, 40%, 1);     // #365397
$twitter_color            : hsla(198, 100%, 47%, 1);    // #00a9f1
$linkedin_color           : hsla(203, 100%, 35%, 1);    // #006db3
$apple_color              : hsla(0, 0%, 45%, 1);        // #737373
$google_color             : hsla(217, 89%, 61%, 1);     // #4285f4
$google_plus_color        : hsla(8, 74%, 53%, 1);       // #e0452c
$youtube_color            : hsla(0, 100%, 60%, 1);      // #ff3333
$vimeo_color              : hsla(200, 82%, 61%, 1);     // #48b6ed
$pinterest_color          : hsla(0, 78%, 45%, 1);       // #ce1a19
$yelp_color               : hsla(5, 100%, 38%, 1);      // #c30f00
$dribbble_color           : hsla(338, 82%, 60%, 1);     // #ed4584
$amazon_color             : hsla(36, 100%, 50%, 1);     // #ff9700
$ebay_color               : hsla(219, 89%, 30%, 1);     // #083790
$skype_color              : hsla(198, 100%, 48%, 1);    // #00acf4
$instagram_color          : hsla(208, 46%, 41%, 1);     // #396d9a
$dropbox_color            : hsla(206, 89%, 46%, 1);     // #0d84de
$flickr_color             : hsla(334, 100%, 46%, 1);    // #ea0066
$github_color             : hsla(0, 0%, 18%, 1);        // #2f2f2f
$basecamp_color           : hsla(121, 38%, 58%, 1);     // #6bbd6d
$tumblr_color             : hsla(210, 37%, 30%, 1);     // #304c68
$foursquare_color         : hsla(206, 72%, 45%, 1);     // #207dc5
$box_color                : hsla(204, 83%, 40%, 1);     // #1277bc


$discord_color: #7289da;
$buffer_color: #323b43;
$reddit_color: #ff4500;
