<section class="-darker -m-no-pad">
    <div class="row">
        <div class="col-8 -centered text">
            <h2 class="subtitle">Pour accéder à <strong>Click&Sit</strong>, vous devez entrer un code d'accès</h2>
            <p>Si aucun code ne vous a été transmis et que vous souhaitez vivre l'expérience
            Cook Me Up, retrouvez nous à notre stand sur le salon Egast</p>
            <%= form_tag order_access_path, class: "zone", method: :post do %>
                <div class="col-12 align -center">
                    <h3 class="subtitle">Saisir votre code d'accès </h3>
                    <input type="text" name="access" placeholder="Code d'accès"/>
                    <button type="submit" class="btn">Valider <%= fa_icon "check" %></button>
                </div>
            <% end %>
            <p class="float -l">Découvrez notre carte en attendant le salon (18 au 21 mars) :</p>
            <%= link_to orders_path, class: "btn-subtle float -r" do %>
                Carte <%= fa_icon "book" %>
            <% end %>
        </div>
    </div>
</section>
