<% content_for :main_nav do %>
    <% if @formula_template.has_starter? || @formula_template.has_dessert? %>
        <h3 class="title"><%= I18n.t("menu.cart.add_formula") %></h3>
    <% else %>
        <h3 class="title"><%= I18n.t("menu.cart.add_dish") %></h3>
    <% end %>
<% end %>

<% content_for :main_action do %>
    <button name="button" type="submit" form="add_formula" class="btn"><%= I18n.t("menu.cart.add") %><i class="fa fa-plus"></i></button>
<% end %>

<section class="-m-no-pad">
    <div class="row -m-no-pad">
        <%= cell(:add_formula, @formula_template, random: params[:random]) %>
    </div>
</section>
