<section>
    <div class="row align -center">
        <h2 class="title -alt"><%= I18n.t("booking.error.not_available") %></h2>
        <h3 class="subtitle"><%= I18n.t("booking.error.not_open") %></h3>
    </div>
</section>
