<section>
    <div class="row align -center">
        <h2 class="title -alt">Votre commande ne peut pas être validée</h2>
        <h3 class="subtitle">Aucune commande ne peut être effectuée en dehors des jours d'ouverture, merci de votre compréhension</h3>
    </div>
</section>
