<section>
    <div class="row align -center">
        <h2 class="title -alt">Votre commande a été validée</h2>
        <h3 class="subtitle">Venez manger sur place à l'heure choisie</h3>
        <div class="col-8 -centered">
            <div class="col-4">
                <h4 class="subtitle">Adresse</h4>
                <p>
                    Salon Egast Wacken<br/>
                    Hall 8, Emplacement RO1 <br/>
                    67000 Strasbourg<br/>
                    France
                </p>
            </div>
            <div class="col-8">
                <h4 class="subtitle">Carte</h4>
                <iframe class="google-mapframe" width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJRXHXgWDIlkcRsmHzEZVB_pY&key=AIzaSyBwqs-1q9YqDyUnWqjRjzQXD-v-IWwdl2k" allowfullscreen></iframe>
            </div>
        </div>
        <p> Un mail de confirmation vous a été envoyé, pensez à vérifier votre boite mail </p>
    </div>
</section>
