<section>
    <div class="row align -center">
        <h2 class="title -alt">Votre commande a été validée</h2>
        <h3 class="subtitle">Venez manger sur place à l'heure choisie</h3>
        <div class="col-8 -centered">
            <div class="col-4">
                <h4 class="subtitle">Adresse</h4>
                <p>
                    Bred - Banque Populaire<br/>
                    18 Quai de la Rapée<br/>
                    75012 Paris<br/>
                    France
                </p>
            </div>
            <div class="col-8">
                <h4 class="subtitle">Carte</h4>
                <iframe class="google-mapframe" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10503.69491671478!2d2.3748125!3d48.8405935!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa86251b8ffba636b!2sBRED-Banque+Populaire!5e0!3m2!1sfr!2sfr!4v1523696448686" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <p> Un mail de confirmation vous a été envoyé, pensez à vérifier votre boite mail </p>
    </div>
</section>
