<section>
    <div class="row">
        <div class="col-8 -centered">
            <h2 class="title">Mentions légales</h2>
            <div class="text">
                <strong>Raison sociale :</strong>
                <p>Cook Me Up</p>
                <strong>Parrainé par Entreprendre pour Apprendre Grand-Est</strong>
                <p></p>

                <strong>Forme juridique :</strong>
                <p>SARL | capital de 1000€</p>
                <p>Start’Up parrainé par Entreprendre pour Apprendre Grand-Est</p>

                <strong>Adresse :</strong>
                <p>75 Route de Lyon, 67400 Illkirch-Graffenstaden, France</p>

                <strong>Mail / téléphone :</strong>
                <p><a href="mailto:cookmeupstartup@gmail.com" target="_blank">cookmeupstartup@gmail.com</a> / +33 6 37 19 68 63</p>

                <strong>Capital social :</strong>
                <p>1000€</p>

                <strong>RCS ou TVA intracommunautaire :</strong>
                <p>N/A</p>

                <strong>Numéro de déclaration simplifiée Cnil :</strong>
                <p>2146570 v 0</p>

                <strong>Hébergeur</strong>
                <p>Heroku Inc., 650 7th St, San Francisco, CA 94103, United States, dmca@heroku.com</p>

                <strong>Editeur</strong>
                <p>Cook Me Up, SARL <a href="https://www.cookmeup.restaurant">www.cookmeup.restaurant</a></p>

                <strong>Développeurs</strong>
                <p>Sébastien Erfani, Yohann Jolain, Bastien Sulyan, Gaëtan Filez</p>
                <p>Projet étudiant, SUPINFO International University</p>
            </div>
        </div>
        <div class="col-8 -centered">
            <a class="anchor"></a>
            <h2 class="title">Informations générales</h2>
            <div class="text">
                <h4 class="subtitle">Vos droits</h4>
                <p>Vos droits sont protégés par la loi européene nommée RGPD. Pour plus d'information rendez-vous sur cette page rédigée par l'autoritée compétente française</p>
                <a href="https://www.cnil.fr/fr/textes-officiels-europeens-protection-donnees">Réglement Général sur la Protection des Données</a><br/><br/>
                <p>Vos droits comprennent entre autres: l'anonymat, la modification de vos données, la portabilité/export de vos données, la suppression de vos données, le choix de la divulgation, la modification des choix effectués.</p>
            </div>
            <div class="text">
                <h4 class="subtitle">Age minimum</h4>
                <p>Pour vous inscrire à ce site, vous devez avoir au moins 16 ans.</p>
            </div>
        </div>
        <div class="col-8 -centered">
            <a class="anchor"></a>
            <h2 class="title">Données personnelles</h2>
            <div class="text">
                <h4 class="subtitle">Site internet</h4>
                <p>
                    Les données collectées sur ce site sont celles uniquement nécessaires pour la réalisation du contrat lors de la vente de nos produits<br/>
                    Ces données sont récoltés explicitement lors du remplissage de formulaire par l'utilisateur.
                    Par defaut, aucun consentement n'est coché et votre accord explicite sera nécessaire pour leur activation.
                </p>
            </div>
            <div class="text">
                <h4 class="subtitle">Utilisation des données</h4>
                <p>
                    La consultation du site ne nécessite pas de collecte d'information. Vous pouvez visiter notre site tout en restant anonyme.
                    Certains services comme l'inscription ou la commande necessite la collecte de données et votre accord vous sera demandé explicitement.
                </p>
            </div>
            <div class="text">
                <h4 class="subtitle">Chat bot</h4>
                <p>
                    Cook Me Up utilisera votre adresse mail, si vous vous inscrivez avec facebook, pour vous contacter par la suite par l'intermédiaire d'un chat bot dans le cas où vous avez donner votre consentement lors de l'inscription.
                    Le chat bot ne collecte aucune données personelles et les retours sur vos commandes sont anonymisés.
                    A tout moment, l'utilisateur peut retier son consentement au sujet du chat bot depuis les options de son compte.
                </p>
            </div>
            <div class="text">
                <h4 class="subtitle">Export</h4>
                <p>
                    Pour exporter vos données, conectez-vous, rendez-vous dans les options, onglet "Exporter mes données".
                </p>
            </div>
            <div class="text">
                <h4 class="subtitle">Suppression des données</h4>
                <p>
                    Pour supprimer vos données, contactez nous à l'adresse mail suivante: <a href="mailto:cookmeupstartup@gmail.com" target="_blank">cookmeupstartup@gmail.com</a>.
                    Les factures et autres données necessaire au bon déroulement des contrats seront conservées comme l'exige les lois en vigeurs.
                </p>
            </div>
        </div>
        <div class="col-8 -centered">
            <a class="anchor" id="cookies"></a>
            <h2 class="title">Cookies</h2>
            <div class="text">
                <h4 class="subtitle">Utilisation des cookies</h4>
                <p>
                    Ce site utilise des cookies pour vous proposer une experience customisée.
                    Aucun traqueur n'est utilisé et aucune collecte de données personnelles n'est effectuée par le billet des cookies.
                </p>
                <p>
                    Les cookies sur se site sont uniquement utilisés pour sauvegarder l'identifiant de session (dans le but conserver l'état des pages de l'utilisateur et le choix de la langue) ainsi que pour sauvegarder la fermeture de la bannière des cookies.
                </p>
            </div>
        </div>
        <div class="col-8 -centered">
            <a class="anchor"></a>
            <h2 class="title">Sécurité et cryptage</h2>
            <div class="text">
                <h4 class="subtitle">Sécurité</h4>
                <p>
                    Ce site maintient à jour ces composant de façons à garantir la sécurité du site.
                    Dans le cas où vous pensez avoir trouver une faille de sécurité, merci de nous en avertir rapidement par mail à l'adresse: <a href="mailto:cookmeupstartup@gmail.com" target="_blank">cookmeupstartup@gmail.com</a>.
                    Nous nous engageons à vous avertir, ainsi que les autorités compétentes, au plus tard 72h après la detection d'une intrusion non autorisée dans un de nos services.
                </p>
                <h4 class="subtitle">Mesures de cryptage</h4>
                <p>
                    Votre mot de passe est crypté par l'algorithme BCrpyt basé sur Blowfish. Choisissez un mot de passe assez compliqué pour éviter le vol de vos données.
                    De cette façon, il nous est impossible de connaître votre mot de passe et dans l'éventuelle fuite de vos données, votre mot de passe restera secret car la procédure pour le déchiffrer n'est pas humainement réalisable.
                </p>
                <p>
                    Tout vos échanges avec le site Cook Me Up sont cryptés avec HTTPS | SHA 256. Le certificat SSH est delivré par "Let's Encrypt".
                </p>
            </div>
        </div>
    </div>
</section>
