<section>
    <div class="row">
        <div class="col-8 -centered">
            <h2 class="title">Mentions légales</h2>
            <div class="text">
                <strong>Raison sociale :</strong>
                <p>Cook Me Up</p>
                <strong>Parrainé par Entreprendre pour Apprendre Grand-Est</strong>
                <p></p>

                <strong>Forme juridique :</strong>
                <p>Start’Up parrainé par Entreprendre pour Apprendre Grand-Est</p>

                <strong>Adresse :</strong>
                <p>75 Route de Lyon, 67400 Illkirch-Graffenstaden, France</p>

                <strong>Mail / téléphone :</strong>
                <p><a href="mailto:cookmeupstartup@gmail.com" target="_blank">cookmeupstartup@gmail.com</a> / +33 6 37 19 68 63</p>

                <strong>Capital social :</strong>
                <p>1000€</p>

                <strong>RCS ou TVA intracommunautaire :</strong>
                <p>N/A</p>

                <strong>Numéro de déclaration simplifiée Cnil :</strong>
                <p>2146570 v 0</p>

                <strong>Hébergeur</strong>
                <p>Heroku Inc., 650 7th St, San Francisco, CA 94103, United States, dmca@heroku.com</p>
            </div>
        </div>
        <div class="col-8 -centered">
            <h2 class="title">Cookies</h2>
            <div class="text">
                <h4 class="subtitle">Utilisation des cookies</h4>
                <p>
                    Ce site utilise des cookies pour vous proposer une experience customisée.
                </p>
                <p>
                    Les cookies sur se site uniquement pour sauvegarder l'identifiant de session pour conserver l'état des pages de l'utilisateur et le choix de la langue ainsi que pour sauvegarder la fermeture de la bannière des cookies.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
