<section>
    <div class="row">
        <ul>
            <li><a href="/">Nombre de services aujourd'hui : </a></li>
            <li><a href="/">Les plats</a></li>
            <li><a href="/">Les entrées</a></li>
            <li><a href="/">Les desserts </a></li>
        </ul>
    </div>
</section>