<section>
    <div class="row">
        <ul>
            <li><a href="/admin/orders">Nombre de services aujourd'hui : </a></li><br>
            <li><a href="/admin/dishes">Les plats</a></li><br>
            <li><a href="/admin/starters">Les entrées</a></li><br>
            <li><a href="/admin/desserts">Les desserts </a></li><br>
            <li><a href="/admin/meals">Services</a></li><br>
        </ul>
        <br />
        <%= link_to admin_orders_path, class: "btn" do %>
            Test 13 Mars
            <%= fa_icon "tachometer" %>
                <% end %>
    </div>
</section>