<section>
    <div class="row">
        <h2>Administration</h2>
        <ul class="fixed-list col-6">
            <li><span class="key"><a href="/admin/orders">Commandes du jour</a></span></li>
            <li><span class="key"><a href="/admin/meals">Plages d'ouvertures</a></span></li>
            <li><span class="key"><a href="/admin/dishes">Les plats</a></span>( fonction en test )</li>
            <li><span class="key"><a href="/admin/starters">Les entrées</a></span>( fonction en test )</li>
            <li><span class="key"><a href="/admin/desserts">Les desserts</a></span>( fonction en test )</li>
            <li><span class="key"><a href="/admin/history">Historique</a></span>( fonction en test )</li>
        </ul>
    </div>
</section>
