<section>
    <div class="row">
        <ul>
            <li><a href="/admin/orders">Nombre de commandes aujourd'hui : </a></li><br>
            <li><a href="/admin/dishes">Les plats</a></li><br>
            <li><a href="/admin/starters">Les entrées</a></li><br>
            <li><a href="/admin/desserts">Les desserts </a></li><br>
            <li><a href="/admin/meals">Les plages d'ouvertures</a></li><br>
        </ul>
        <br />
    </div>
</section>
