<section>
    <div class="row">
        <ul>
            <li><a href="/admin/orders">Nombre de services aujourd'hui : </a></li><br>
            <li><a href="/admin/dishes">Les plats</a></li><br>
            <li><a href="/admin/starters">Les entrées</a></li><br>
            <li><a href="/admin/desserts">Les desserts </a></li><br>
            <li><a href="/admin/meals">Les cuissons </a></li><br>
        </ul>
    </div>
</section>