<div class="add-formula buttons">
    <div class="item">
        <%= @f.button class: "btn float -r" do %>
            ajouter au panier <%= fa_icon "plus" %>
        <% end %>
        <%= link_to orders_path, class: "btn -alt" do %>
            retour <%= fa_icon "chevron-left" %>
        <% end %>
    </div>
</div>
