<div class="add-formula wine">
    <header>
        <h5 class="title -compact -faint">Variation vin:</h5>
    </header>
    <div class="col-12 -sp">
        <div class="item">
            <p><%= model.name %></p>
        </div>
    </div>
</div>
