<section>
    <div class="row">

        <div class="col-12">
            <table>
                <tr>
                    <th>Début</th>
                    <th>Fin</th>

                </tr>

                <% @meals.each do |meal| %>
                    <tr>
                        <td>
                            <%= meal.start_time %>
                        </td>
                        <td>
                            <%= meal.end_time%>
                        </td>
                        <td>

                            <a href="/admin/meals/<%= meal.id %>">Voir commande</a>
                            <a href="/admin/meals/<%= meal.id %>" data-method="delete" rel="nofollow">delete</a>
                        </td>
                    </tr>
                    <% end %>
            </table>
        </div>
    </div>
</section>