<section>
        <div class="row">
            <div class="col-12">
                <table>
                    <tr>
                        <th>Début</th>
                        <th>Fin</th>
                        <th>Action</th>
                    </tr>
    
                    <% @services.each do |service| %>
                        <tr>
                            <td>
                                <%= service.start_time.strftime("%A %d %B %H:%M") %>
                            </td>
                            <td>
                                <%= service.end_time.strftime("%A %d %B %H:%M") %>
                            </td>
                            <td>
                                <a href="/admin/services/<%= service.id %>/edit">Changer les horaires</a>
                                <a href="/admin/services/<%= service.id %>" data-method="delete" rel="nofollow">delete</a>
                            </td>
                        </tr>
                    <% end %>
                </table>
        </div>
        </div>
    </section>