<section class="head" id="home">
    <div class="row">
        <div class="col-8 -centered">
            <div class="zone align -center">
                <h4 class="title">
                    Commandez ici et venez manger sur place
                </h4>

                <div class="col-8 -centered">
                    <div class="col-8">
                        <select>
                            <option>10h15</option>
                            <option>10h30</option>
                            <option>10h45</option>
                            <option>11h00</option>
                        </select>
                    </div>
                    <div class="col-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
