<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<section class="head" id="home">
    <div class="row">
    </div>
</section>
<section class="border-bottom">
    <div class="row align -center">
        <h2 class="title">Cook Me Up</h2>
        <div class="col-6 align -right">
            <div class="img">
                <img src="http://78.media.tumblr.com/tumblr_m7tq5r8BLF1qbfzero3_250.gif">
            </div>
        </div>
        <div class="col-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
</section>
<section class="gradient">
    <div class="row">
        <div id="fb-page">
            <div class="fb-content">
                <h2 class="title">Suivez nos actualités sur notre page facebook</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="fb-page" data-href="https://www.facebook.com/StartUpcookmeup/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/StartUpcookmeup/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/StartUpcookmeup/">Cook Me Up</a></blockquote></div>
        </div>
    </div>
</section>
