<div id="cookie_parent">
    <div id="cookies_disclaimer" class="hide">
        <p>
            En visitant ce site web, vous acceptez <a href="<%= static_page_path("mentions") %>#cookies">notre politique</a> sur l'utilisation des cookies.
        </p>
        <a id="cookies_close">Accepter et fermer</a>
    </div>
</div>
