<div id="cookie_parent">
    <div id="cookies_disclaimer" class="hidden">
        <div class="row">
            <p>
                <%= raw(I18n.t("cookies.disclaimer_html")) %>
            </p>
            <a class="btn-subtle" id="cookies_close"><%= raw(I18n.t("cookies.close")) %></a>
        </div>
    </div>
</div>
