<footer id="global-footer">
    <div class="row">
        <div class="col-6">
            <h4>Navigation</h4>
            <nav class="col-3 -sp">
                <a href="">La Carte</a>
                <a href="">A Propos</a>
                <a href="">L'Équipe</a>
            </nav>
            <nav class="col-3 -sp">
                <a href="">Mentions Légales</a>
                <a href="">Cookies</a>
                <a href="">CGV</a>
            </nav>
        </div>
        <div class="col-6">
            <h4>Navigation</h4>
        </div>
    </div>
</footer>
