<footer id="global-footer">
    <div class="row">
        <div id="social" class="col-12 align -center">
            <a href="https://www.facebook.com/StartUpcookmeup/" target="_blank"><%= fa_icon "facebook" %></a>
            <p>Venez nous rejoindre sur notre <a href="https://www.facebook.com/StartUpcookmeup/" target="_blank">page facebook</a></p>
        </div>
        <div class="col-6">
            <h4>A propos</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="col-6">
            <h4>Navigation</h4>
            <nav class="col-6 -sp">
                <%= link_to "Accueil", root_path %>
                <%= link_to "La Carte", static_page_path("menu") %>
                <%= link_to "L'Équipe", static_page_path("team") %>
            </nav>
            <nav class="col-6 -sp">
                <a href="">Mentions Légales</a>
                <a href="">Cookies</a>
                <a href="">CGV</a>
            </nav>
        </div>
    </div>
</footer>
