<nav id="main-menu">
    <div class="row">
        <a id="logo" href="<%= root_path %>">
            <img src="http://reactorkc.com/wp-content/uploads/2017/06/Atlanta_Hawks_logo.svg_.png">
            Cook Me Up
        </a>
        <input class="switch" id="menu-switch" type="checkbox">
        <ul>
            <%= nav_path("La Carte", static_page_path("menu")) %>
            <%= nav_path("L'Équipe", static_page_path("team")) %>
        </ul>
        <label class="toggle" for="menu-switch"><%= fa_icon "bars" %></label>
    </div>
</nav>
