<!DOCTYPE html>
<html>
    <body>
        <%= render "layouts/head" %>

        <%= render "layouts/nav" %>
        <div class="page">
            <%= yield %>
        </div>
        <%= render "layouts/footer" %>
    </body>
</html>
